body {
    font-family: "Josefin Slab", serif !important;
  font-optical-sizing: auto !important;
  font-weight: 600 !important;
  font-style: normal !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* font-weight: bold !important; */
}

.container {
    flex : 1;
}

/* Navbar */


.navbar {
    height : 3.5rem;
}

.navbar-brand i {
    font-size : 2rem;
}

.nav-link {
    color : #222222 !important;
}

.bg-white-toggler {
    background-color: white !important;
}

/* Footer */


.f-info-links a {
    text-decoration: none;
    color : #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links {
    width : 100%;
}

.f-info-socials {
    width : 100%;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info {
    text-align: center;
    height : 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Cards */
.listing-card {
    border : none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width : 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400 !important;
}

.listing-link {
    text-decoration: none !important;
}

/* Card Hover Effect */
.card-img-overlay {
    opacity : 0;
}

.card-img-overlay:hover {
    opacity : 0.2;
    background-color: white;
}

/* Show Page  */

.show-img {
    height : 30vh !important;
}

/* .show-card img {
    height : 20rem;
    width : 30rem;
} */

.show-card {
    padding-left: 0;
    padding-right: 0;
}

.rvw-btn {
    font-weight: bold !important;
}

.rvw-del-btn {
    font-weight :bold !important;
}

